<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>

<body>
    <div class="login" style="display: block">
    <form th:action="@{/login}" method="post">
        <div id="user">
            <label for="username">Username:</label>
            <input type="text" name="username" required>
        </div> 
        <div id="pwd">
            <label for="password">Password:</label>
            <input type="password" name="password" required>
        </div>
        <button type="submit" id="submit">Login</button>
    </form>    
</div>

</body>
</html>
